<div class="quality-measure">
  <div class="percentile" style="color: {{ color }};">
    <span>{{ percentile }}</span>
  </div>
  <div class="details">
    <span>{{ tag }}</span>
    <strong>{{ title }}</strong>
    <p>
      {{ body }}
    </p>
  </div>
</div>