<section class="styleguide-nav">
  {% for menu_item in menu %}
    {% if menu_item.referenceURI not in ['page_home', 'page_doc_profile', 'page_location', 'page_about_us', 'page_consumer_landing'] %}
      <li class="kss-nav__menu-item">
        <a class="kss-nav__menu-link" href="section-{{ menu_item.referenceURI }}.html">
          <span class="kss-nav__ref">{{ menu_item.referenceNumber }}</span><span class="kss-nav__name">{{ menu_item.header }}</span>
        </a>
        {% if menu_item.isActive and menu_item.children is not empty %}
          <ul class="kss-nav__menu-child">
            {% for menu_child in menu_item.children %}
              <li class="kss-nav__menu-item">
                <a class="kss-nav__menu-link" href="section-{{ menu_item.referenceURI }}.html#kssref-{{ menu_child.referenceURI }}">
                  <span class="kss-nav__ref {% if menu_child.isGrandChild %}kss-nav__ref-child{% endif %}">{{ menu_child.referenceNumber }}</span
                  ><span class="kss-nav__name">{{ menu_child.header }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
{% endfor %}
</section>