<div class="fact-box--{{orientation}}">
  <div class="card">
    <div class="fact-box__background" style="background-image: url('{{ bg_image }}');"></div>
    <div class="fact-box__background--expanded" style="background-image: url('{{ bg_image_expanded }}');"></div>
    <div class="overlay">
      <span class="expand-button"></span>
      <div class="content{{ content_modifier_class }}">
        <h3>{{ headline }}</h3>
        <img src="{{ content_image }}" alt="Texas Health Resources">
      </div>
    </div>
  </div>
  <div class="drawer">
    <span class="expand-button opened"></span>
    <div class="drawer__content">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div>